/* Add your own styles */
body {
    background-color: #f9f9f9; 
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


header {
    background-color: #007BFF; 
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}



#controls {
    background-color: #ffffff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}


#controls button {
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
}


#result table {
    width: 100%;
    background-color: #ffffff;
}

#result th, #result td {
    padding: 12px 15px;
    text-align: left;
}

#result th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}


